<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="C:\Users\becode\AppData\Local\Programs\Python\Python311\python.exe" arguments="C:\Users\becode\Desktop\Webapp\app.py" requestTimeout="00:04:00" startupTimeLimit="60" startupRetryCount="3" stdoutLogEnabled="true">
            <environmentVariables>
                <environmentVariable name="PYTHONUNBUFFERED" value="1" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
